/SYT_DezSys_Weinberger.aux
/SYT_DezSys_Weinberger.lof
/SYT_DezSys_Weinberger.log
/SYT_DezSys_Weinberger.lol
/SYT_DezSys_Weinberger.out
/SYT_DezSys_Weinberger.synctex.gz
/SYT_DezSys_Weinberger.toc
/SYT_DezSys_Weinberger.bbl
/SYT_DezSys_Weinberger.blg
/SYT_Ethik_Weinberger.aux
/SYT_Ethik_Weinberger.bbl
/SYT_Ethik_Weinberger.blg
/SYT_Ethik_Weinberger.lof
/SYT_Ethik_Weinberger.log
/SYT_Ethik_Weinberger.lol
/SYT_Ethik_Weinberger.out
/SYT_Ethik_Weinberger.synctex.gz
/SYT_Ethik_Weinberger.toc
*.bak
*.gz
