/Pool6_Weinb_5BHIT.aux
/Pool6_Weinb_5BHIT.bbl
/Pool6_Weinb_5BHIT.blg
/Pool6_Weinb_5BHIT.log
/Pool6_Weinb_5BHIT.out
/Pool6_Weinb_5BHIT.synctex.gz
/Pool6_Weinb_5BHIT.toc
*.bak
/Pool7_Weinb_5BHIT.aux
/Pool7_Weinb_5BHIT.bbl
/Pool7_Weinb_5BHIT.blg
/Pool7_Weinb_5BHIT.log
/Pool7_Weinb_5BHIT.out
/Pool7_Weinb_5BHIT.synctex.gz
/Pool7_Weinb_5BHIT.toc
/Pool1_Weinb_5BHIT.aux
/Pool1_Weinb_5BHIT.bbl
/Pool1_Weinb_5BHIT.blg
/Pool1_Weinb_5BHIT.log
/Pool1_Weinb_5BHIT.out
/Pool1_Weinb_5BHIT.synctex.gz
/Pool1_Weinb_5BHIT.toc
/Pool2_Weinb_5BHIT.aux
/Pool2_Weinb_5BHIT.bbl
/Pool2_Weinb_5BHIT.blg
/Pool2_Weinb_5BHIT.log
/Pool2_Weinb_5BHIT.out
/Pool2_Weinb_5BHIT.synctex.gz
/Pool2_Weinb_5BHIT.toc
/Pool8_Weinb_5BHIT.aux
/Pool8_Weinb_5BHIT.bbl
/Pool8_Weinb_5BHIT.blg
/Pool8_Weinb_5BHIT.log
/Pool8_Weinb_5BHIT.out
/Pool8_Weinb_5BHIT.synctex.gz
/Pool8_Weinb_5BHIT.toc
*.lof
